html
    head
        title MongoDB REST
        link(rel="stylesheet", href="/stylesheets/style.css")
    body
        #header
            img(class="logo" src='/images/civis_rgb.png')
            h1(class="title") DB Data Server
            div(class="clear")

        #content!= body