body {
  margin: 0;
  padding: 0;
  border: none;
  background-color: #f3f4eb;
  font-family: helvetica, arial, sans-serif;
  color: #4c3a2c;
}

#header {
    height: 200px;
    background-color: #AFC73B;;
}

#content {
  margin: 10px;
}

h1 {
  margin: 0px;
}

.logo {
    height: 200px;
    margin: 0 50px;
    float: left;
}

.title {
    height: 200px;
    margin: 0 0 0 40px;
    color: #FFF;
    font-size: 50px;
    float: left;
    line-height: 200px;
}

.clear {
    clear: both;
}